<div id="pasek"></div>

<div id="top">
  <div id="loginbox">
    <form action="" method="post">
      <input type="text" name="login" value="Login..." />
      <input type="password" name="password" value="Hasło..." />
      <input type="submit" value="OK" />
      <ul>
        <li><a href="#">Rejestracja</a></li>
        <li><a href="#">Zapomniane Hasło</a></li>
      </ul>
    </form>
  </div>
</div>