{% extends "AppBundle::pagelayout.html.twig" %}

{% block content %}
  <div id="center">

    <div class="news">
      {{ content|raw }}
      <div class="newsfooter"></div>
    </div>
  </div>
{% endblock %}