{% extends "AppBundle::pagelayout.html.twig" %}

{% block content %}
  <div id="center">

    <div class="news">
      <h1><b>www.tenis-amatorski.pl</b></h1>

      <p>Witajcie !<br>
        <br>
        Portal www.tenis-amatorski.pl podjął się misji stworzenia społeczności tenisowej. Zarejestrowani użytkownicy będą otrzymywać informacje o turniejach tenisowych, ligach oraz innych rozgrywkach w regionie. Będą mogli także zaczerpnąć informacje o kortach tenisowych w mieście oraz wyszukać kontakt do trenerów. Na stronie znajdą się także informacje o sklepach tenisowych i punktach serwisów rakiet<br>
        <br>
        Oficjalny początek profesjonalnie zaprojektowanego portalu zaplanowany jest na styczeń 2016 roku. Jednak od chwili obecnej na stronie można już się zarejestrować i już dziś otrzymywać informację o tenisowych amatorskich wydarzeniach w Polsce. <br>
        <br>
        Aby otrzymywać informacje ze świata polskiego tenisa amatorskiego wypełnij poniższy formularz. <br>
        <br>
      <form method="post" action="register.php">
        <input type="text" name="email"> - <b>E-mail</b><br><br>
        <input type="text" name="miasto"> - <b>Miasto</b><br><br>
        <input type="text" name="wojewodztwo"> - <b>Województwo</b><br><br>

        <input type="submit" value="ZAREJESTRUJ"><br><br>
      </form>

      Na podany e-mail w ciągu 24 godzin wysłany zostanie e-mail z potwierdzeniem rejestracji. Jeśli mail dotrze do spamu, prosimy odznaczyć wiadomość jako „to nie jest spam”, aby w przyszłości e-maile trafiały do głównej skrzynki odbiorczej.<br>
      <br>
      <b>Funkcje strony:<br></b>
      - informowanie użytkownika o amatorskich turniejach tenisowych,<br>
      - informowanie użytkownika o amatorskich ligach tenisowych,<br>
      - informowanie użytkownika o kortach tenisowych w regionie,<br>
      - informowanie użytkownika o sklepach tenisowych w Polsce,<br>
      - informowanie użytkownika o trenerach w Polsce,<br>
      - <b>dobór partnerów do gry - </b> każda osoba nie mająca partnera będzie mogła zgłosić chęś wspólnej gry i otrzymać propozycję sparingu od innego gracza zarejestrowanego na portalu.<br>
      <br><br><br><br><br><br><br>
      <div class="newsfooter">

      </div>
    </div>
  </div>
{% endblock %}