<div id="left">
  <div class="box">
    <h2>{{ 'discipline_type'|trans|upper }}</h2>
    <ul class="menuv">
    {% for discipline in disciplines %}
      <li><a href="#">{{ discipline.name|upper }}</a></li>
    {% endfor %}
    </ul>
  </div>
</div>