<ul id="menu">
    {% for node in navigation %}
        <li><a href="{{ get_url(node) }}">{{ node.name }}</a></li>
    {% endfor %}
</ul>

<ul id="submenu">
  <li><a href="#">Zgłoś turniej</a></li>
  <li><a href="#">Zgłoś ligę</a></li>
  <li><a href="#">Zgłoś lokal</a></li>
  <li><a href="#">Video</a></li>
  <li><a href="#">Zgłoś się jako trener</a></li>
</ul>