<ul id="menu">
    {% for node in navigation %}
        <li><a href="{{ get_url(node) }}">{{ node.name }}</a></li>
    {% endfor %}
</ul>

<ul id="submenu">
  {% for subNode in subNavigation %}
    <li><a href="{{ path('sport_page', { 'discipline' : subNode.discipline.id, 'page' : subNode.name }) }}">{{ subNode.name }}</a></li>
  {% endfor %}
</ul>