<ul id="menu">
  <li><a href="{{ path('startPage') }}">STRONA GŁÓWNA</a></li>
  <li><a href="#">STWÓRZ WYDARZENIE</a></li>

  <li><a href="#">SZUKAJ WYDARZENIA</a></li>
  <li><a href="#">REJESTRACJA</a></li>
  <li><a href="#">KONTAKT</a></li>
  <li><a href="http://www.sportstream.pl" class="last">SPORTOWA TELEWIZJA INTERNETOWA</a></li>
</ul>

<ul id="submenu">
  <li><a href="#">Zgłoś turniej</a></li>

  <li><a href="#">Zgłoś ligę</a></li>
  <li><a href="#">Zgłoś lokal</a></li>
  <li><a href="#">Video</a></li>
  <li><a href="#">Zgłoś się jako trener</a></li>
</ul>